@{
    ViewData["Title"] = "Artemisia";
}

<div class="text-center">
    <h1 class="display-4">Artemisia</h1>
    <p class="mt-4">
        <a class="btn btn-home" asp-controller="Home" asp-action="About">Quem somos</a>
        <a class="btn btn-catalog" asp-controller="Home" asp-action="Catalog">Catalogo</a>
        <a class="btn btn-contact" asp-controller="Home" asp-action="Contact">Contato</a>
</div>
