@{
    ViewData["Title"] = "Sombrancelhas da Ju";
}

<div class="text-center">
    <h1 class="display-4">Estudio de Sobrancelhas da Ju</h1>
    <p>Conheça o nosso estúdio de sobrancelhas e realce a sua beleza!</p>
    <a class="btn btn-primary" href="@Url.Action("About", "Home")">Saiba mais</a>   
    <a class="btn btn-secondary" href="@Url.Action("Services", "Home")">Nossos Serviços</a>
    <a class="btn btn-success" href="@Url.Action("Contact", "Home")">Contato</a>
    <a class="btn btn-info" href="@Url.Action("Gallery", "Home")">Catalogo</a>
    
</div>
 